<h2><%= singular_name.titleize %></h2>

<%- for attribute in attributes -%>
<p>
  <strong><%= attribute.column.human_name.titleize %>:</strong>
  <%%=h @<%= singular_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<p>
<%- if admin_action? :edit -%>
  <%%= link_to "Edit", edit_admin_<%= singular_name %>_path(@<%= singular_name %>) %> |
<%- end -%>
<%- if admin_action? :destroy -%>
  <%%= link_to "Destroy", [:admin, @<%= singular_name %>], :confirm => 'Are you sure?', :method => :delete %> |
<%- end -%>
<%- if admin_action? :index -%>
  <%%= link_to "View All", admin_<%= plural_name %>_path %>
<%- end -%>
</p>
